{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.iqualify.com/v1"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "hello_iqualify"
        },
        "description": "The iQualify API offers management and analytics responses for building\nlearning experiences using your iQualify instance data.\n\nOnce you’ve registered with iQualify, you can request an API access token by\nnavigating to the API access section of the \"Account Settings\" area.\n\nFind out how to [Request your API access token](https://intercom.help/iqualify/iqualify-set-up/authentication/requesting-your-api-access-token) on our Knowledge base.\n\nAll endpoints are only accessible via https and are located at\napi.iqualify.com. For instance: you can find your current offerings by\naccessing the following URL:\n\n    https://api.iqualify.com/v1/offerings/current\n\n",
        "title": "iQualify",
        "version": "v1",
        "x-apisguru-categories": [
            "education"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_hello_iqualify_profile_image.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.iqualify.com/v1/docs.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "iqualify.com"
    },
    "security": [
        {
            "jwt": []
        }
    ],
    "tags": [],
    "paths": {
        "/": {
            "get": {
                "description": "Responds with all supported endpoints URLs for v1 version.",
                "responses": {
                    "200": {
                        "description": "Supported endpoints"
                    }
                },
                "summary": "List supported endpoints URLs",
                "tags": [
                    "API info"
                ]
            }
        },
        "/course-mappings": {
            "get": {
                "description": "Returns all the course mappings",
                "responses": {
                    "200": {
                        "description": "Course Mappings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "title": "course mappings",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Find course mappings",
                "tags": [
                    "course mappings"
                ]
            }
        },
        "/course-mappings/{offeringId}": {
            "get": {
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course Mapping",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Finds course mappings by offering id",
                "tags": [
                    "course mappings"
                ]
            }
        },
        "/course-mappings/{offeringId}/{externalCourseId}": {
            "delete": {
                "description": "Removes the course mapping between the offering and the external course id",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "external course's id",
                        "in": "path",
                        "name": "externalCourseId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course Mapping",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Remove course mapping",
                "tags": [
                    "course mappings"
                ]
            },
            "put": {
                "description": "Creates a mapping between the offering and the external course id",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "external course's id",
                        "in": "path",
                        "name": "externalCourseId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course Mapping",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Add course mapping",
                "tags": [
                    "course mappings"
                ]
            }
        },
        "/courses": {
            "get": {
                "description": "Responds with courses that can be activated (made to an offering).",
                "responses": {
                    "200": {
                        "description": "All courses that can be activated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "coverImageUrl": {
                                                "type": "string"
                                            },
                                            "createdAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "learning_outcomes": {
                                                "items": {
                                                    "properties": {
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "Course",
                                        "type": "object"
                                    },
                                    "title": "Courses",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find courses",
                "tags": [
                    "courses"
                ]
            }
        },
        "/courses/{contentId}": {
            "get": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "coverImageUrl": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "learning_outcomes": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Course",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Find course by content id",
                "tags": [
                    "courses"
                ]
            }
        },
        "/courses/{contentId}/metadata/category": {
            "put": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "coverImageUrl": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "learning_outcomes": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Course",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update course category",
                "tags": [
                    "courses"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "properties": {
                                    "category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/courses/{contentId}/metadata/level": {
            "put": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "coverImageUrl": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "learning_outcomes": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Course",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update course level",
                "tags": [
                    "courses"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "properties": {
                                    "level": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/courses/{contentId}/metadata/tags": {
            "put": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "coverImageUrl": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "learning_outcomes": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Course",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update course tags",
                "tags": [
                    "courses"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "properties": {
                                    "tags": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/courses/{contentId}/metadata/topic": {
            "put": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "coverImageUrl": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "learning_outcomes": {
                                            "items": {
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Course",
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update course topic",
                "tags": [
                    "courses"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "additionalProperties": false,
                                "properties": {
                                    "topic": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/courses/{contentId}/permissions": {
            "post": {
                "parameters": [
                    {
                        "description": "The content Id",
                        "in": "path",
                        "name": "contentId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "user successfully added to the course with the specified permission.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "email": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "additionalProperties": false,
                                                    "properties": {
                                                        "tags": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "personId": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "isBuilder": {
                                            "default": false,
                                            "type": "boolean"
                                        },
                                        "isReviewer": {
                                            "default": false,
                                            "type": "boolean"
                                        },
                                        "profile": {
                                            "properties": {
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "mobile": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "email"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update course access",
                "tags": [
                    "courses"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "email": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "additionalProperties": false,
                                                    "properties": {
                                                        "tags": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "personId": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "isBuilder": {
                                            "default": false,
                                            "type": "boolean"
                                        },
                                        "isReviewer": {
                                            "default": false,
                                            "type": "boolean"
                                        },
                                        "profile": {
                                            "properties": {
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "mobile": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "email"
                                    ],
                                    "type": "object"
                                },
                                "title": "users to be added to the offering.",
                                "type": "array"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/offerings": {
            "get": {
                "description": "Responds with all offerings for your organisation.",
                "responses": {
                    "200": {
                        "description": "all offerings (current, past and future ones)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "contentId": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "coverImageUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "earlyCloseOffDate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "end": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "enrollmentLimit": {
                                                "type": "number"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isReadonly": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "price": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "trailerVideoUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "version": {
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Offerings",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Get current, past and future offerings",
                "tags": [
                    "offerings"
                ]
            },
            "post": {
                "description": "Creates new offering.",
                "responses": {
                    "201": {
                        "description": "offering created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contentId": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "coverImageUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "currency": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "earlyCloseOffDate": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "end": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "enrollmentLimit": {
                                            "type": "number"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "isReadonly": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "number"
                                        },
                                        "start": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "trailerVideoUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "version": {
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create offering",
                "tags": [
                    "offerings"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "properties": {
                                            "contentId": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "description": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "earlyCloseOffDate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "end": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "isReadonly": {
                                                "type": "boolean"
                                            },
                                            "metadata": {
                                                "additionalProperties": false,
                                                "properties": {
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "level": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "topic": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "name": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "start": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "trailerVideoUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "version": {
                                                "description": "Content version, if not specified, the most recent version is used.",
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ],
                                "required": [
                                    "contentId",
                                    "start",
                                    "end"
                                ]
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/offerings/current": {
            "get": {
                "description": "Responds with current (active) offerings for your organisation. Offering is current when today's date is between (inclusive) it's `start` and `end` date.",
                "responses": {
                    "200": {
                        "description": "current offerings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "contentId": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "coverImageUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "earlyCloseOffDate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "end": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "enrollmentLimit": {
                                                "type": "number"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isReadonly": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "price": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "trailerVideoUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "version": {
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Offerings",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find active offerings",
                "tags": [
                    "offerings"
                ]
            }
        },
        "/offerings/future": {
            "get": {
                "description": "Responds with future (inactive) offerings for your organisation. Future offerings have their `start` date after today's date (inclusive).",
                "responses": {
                    "200": {
                        "description": "future offerings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "contentId": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "coverImageUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "earlyCloseOffDate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "end": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "enrollmentLimit": {
                                                "type": "number"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isReadonly": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "price": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "trailerVideoUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "version": {
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Offerings",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find future offerings",
                "tags": [
                    "offerings"
                ]
            }
        },
        "/offerings/past": {
            "get": {
                "description": "Responds with past (inactive) offerings for your organisation. Past offerings have their `end` date before today's date (inclusive).",
                "responses": {
                    "200": {
                        "description": "past offerings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "contentId": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "coverImageUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "earlyCloseOffDate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "end": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "enrollmentLimit": {
                                                "type": "number"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isReadonly": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "price": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "trailerVideoUrl": {
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "version": {
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Offerings",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find past offerings",
                "tags": [
                    "offerings"
                ]
            }
        },
        "/offerings/{offeringId}": {
            "get": {
                "description": "Returns an offering matching the offeringId.",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "offering",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contentId": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "coverImageUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "currency": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "earlyCloseOffDate": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "end": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "enrollmentLimit": {
                                            "type": "number"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "isReadonly": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "number"
                                        },
                                        "start": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "trailerVideoUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "version": {
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Find offering by id",
                "tags": [
                    "offerings"
                ]
            },
            "patch": {
                "description": "Updates the offering.",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "offering updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contentId": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "coverImageUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "currency": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "earlyCloseOffDate": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "end": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "enrollmentLimit": {
                                            "type": "number"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "isReadonly": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "additionalProperties": false,
                                            "properties": {
                                                "category": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "topic": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "number"
                                        },
                                        "start": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "trailerVideoUrl": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "version": {
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update offering",
                "tags": [
                    "offerings"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "contentId": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "description": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "earlyCloseOffDate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "end": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "isReadonly": {
                                        "type": "boolean"
                                    },
                                    "metadata": {
                                        "additionalProperties": false,
                                        "properties": {
                                            "category": {
                                                "type": "string"
                                            },
                                            "level": {
                                                "type": "string"
                                            },
                                            "tags": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "topic": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "name": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "start": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "trailerVideoUrl": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "version": {
                                        "description": "Content version, if not specified, the most recent version is used.",
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/offerings/{offeringId}/analytics/channels/{channelId}/comments": {
            "get": {
                "description": "Responds with a list of all comments in any of the posts for a channel in a offering",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "channel's id",
                        "in": "path",
                        "name": "channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "content": {
                                                "type": "string"
                                            },
                                            "createdAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isFacilitatorPost": {
                                                "type": "boolean"
                                            },
                                            "moderation": {
                                                "properties": {
                                                    "isMuted": {
                                                        "type": "boolean"
                                                    },
                                                    "moderator": {
                                                        "properties": {
                                                            "avatarUrl": {
                                                                "type": "string"
                                                            },
                                                            "firstName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lastName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reason": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "parentCommentId": {
                                                "type": "string"
                                            },
                                            "postId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Comments",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find comments",
                "tags": [
                    "analytics"
                ]
            }
        },
        "/offerings/{offeringId}/analytics/channels/{channelId}/posts": {
            "get": {
                "description": "Responds with a list of posts for a channel in a offering",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "channel's id",
                        "in": "path",
                        "name": "channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "attachments": {
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "mimetype": {
                                                            "type": "string"
                                                        },
                                                        "size": {
                                                            "format": "int64",
                                                            "type": "integer"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "content": {
                                                "type": "string"
                                            },
                                            "createdAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isFacilitatorPost": {
                                                "type": "boolean"
                                            },
                                            "moderation": {
                                                "properties": {
                                                    "isMuted": {
                                                        "type": "boolean"
                                                    },
                                                    "moderator": {
                                                        "properties": {
                                                            "avatarUrl": {
                                                                "type": "string"
                                                            },
                                                            "firstName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lastName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reason": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "title": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Posts",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find posts",
                "tags": [
                    "analytics"
                ]
            }
        },
        "/offerings/{offeringId}/analytics/channels/{channelId}/replies": {
            "get": {
                "description": "Responds with a list of all replies in any of the posts for a channel in a offering",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "channel's id",
                        "in": "path",
                        "name": "channelId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "content": {
                                                "type": "string"
                                            },
                                            "createdAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "isFacilitatorPost": {
                                                "type": "boolean"
                                            },
                                            "moderation": {
                                                "properties": {
                                                    "isMuted": {
                                                        "type": "boolean"
                                                    },
                                                    "moderator": {
                                                        "properties": {
                                                            "avatarUrl": {
                                                                "type": "string"
                                                            },
                                                            "firstName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lastName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reason": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "parentCommentId": {
                                                "type": "string"
                                            },
                                            "postId": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "title": "Comments",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find replies",
                "tags": [
                    "analytics"
                ]
            }
        },
        "/offerings/{offeringId}/analytics/learners-progress": {
            "get": {
                "description": "Responds with learners progress.",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Learners progress",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "completion": {
                                                "type": "string"
                                            },
                                            "courseId": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "firstName": {
                                                "type": "string"
                                            },
                                            "lastLoggedInAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "lastName": {
                                                "type": "string"
                                            },
                                            "personId": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "LearnerProgress",
                                        "type": "object"
                                    },
                                    "title": "LearnersProgress",
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Find learners progress",
                "tags": [
                    "analytics"
                ]
            }
        },
        "/offerings/{offeringId}/analytics/marks/assignments": {
            "get": {
                "description": "Responds with assignments marks.",
                "parameters": [
                    {
                        "description": "offering's id",
                        "in": "path",
                        "name": "offeringId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assignments marks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
[...]
